body {
    height: 100vh;
    margin: 0;
}
img {
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px;
}
.title {
    color: white;
}

.left-menu {
    padding: 1rem;
}
.search-btn {
    margin: 2px;
}
#body-wrapper {
    min-height: 100vh;
}
#wrapper-row {
    min-height: 100vh;
}
#search-return:hover {
    cursor: pointer;
}
#delete-button {
    position: fixed;
    bottom: 5px;
    left: 20px;
}
.main-body {
    min-height: 100vh;
}
.click-to-save {
    font-size: smaller;
}